{% extends "global/root.html" %}
{% load static %}

{% block content %}
    <div class="category">
        <span class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% block category-name %}{% endblock %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="category-menu">
                {% block categories %}{% endblock %}
            </ul>
        </span>
        <button class="btn btn-primary" onclick="location.reload()">New Word</button>
    </div>
    <div class="word">{% block word %}{% endblock %}</div>
    <div class="timer"></div>
{% endblock %}
