body > .container {
    margin-top: 50px;
}

.category, .word, .timer {
    margin: 0.25em;
    font-size: 3em;
}

.word, .timer {
    border: solid 2px #333;
    background: #ddd;
    text-align: center;
}

.timer.expired {
    color: #900;
}
